@page
@model BancoKRT.Pages.PIXs.CreateModel

@{
    ViewData["Title"] = "Create PIX";
}

<h1>Create PIX</h1>

<h4>PIX</h4>
<hr />
<div class="row">
    @if (Model.exceptionViewModel != null)
    {
        if (Model.exceptionViewModel.message != null)
        {
            <div class="alert alert-info">@Model.exceptionViewModel.message</div>
        }
    }
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="pixViewModel.ClientCPF" class="control-label"></label>
                <select asp-for="pixViewModel.ClientCPF" asp-items="Model.clients" class="form-control"></select>
                <span asp-validation-for="pixViewModel.ClientCPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pixViewModel.Date" class="control-label"></label>
                <input asp-for="pixViewModel.Date" class="form-control" />
                <span asp-validation-for="pixViewModel.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pixViewModel.Value" class="control-label"></label>
                <input asp-for="pixViewModel.Value" class="form-control" oninput="validatePositiveNumber(this); formatValue(this)" onpaste="validatePositiveNumberPaste(this); formatValuePaste(this)" />
                <span asp-validation-for="pixViewModel.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
