@page
@model BancoKRT.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose an option below:</p>
    <p>
        <a asp-page="@(Model.dataBaseSynchronized ? "/Clients/Index" : "")" id="clientRegistration" class="btn btn-secondary">Client registration</a>
        <a asp-page="@(Model.dataBaseSynchronized ? "/Pixs/Index" : "")" id="pixTransfer" class="btn btn-secondary">PIX transfer</a>
    </p>
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}